Proyecto/Service References/ws/wsCentroMedico1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53564/wsCentroMedico.svc?xsd=xsd0" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://localhost:53564/wsCentroMedico.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53564/wsCentroMedico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:53564/wsCentroMedico.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="wsCentroMedico_actualizarExamen_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarExamen" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_actualizarExamen_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarExamenResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_actualizarItem_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarItem" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_actualizarItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarItemResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_eliminarCita_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarCita" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_eliminarCita_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarCitaResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_eliminarExamen_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarExamen" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_eliminarExamen_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarExamenResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_eliminarItem_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarItem" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_eliminarItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarItemResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_registrarCita_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarCita" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_registrarCita_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarCitaResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_registrarExamenItems_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarExamenItems" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_registrarExamenItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarExamenItemsResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_registrarItem_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarItem" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_registrarItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarItemResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getIDCitas_InputMessage">
    <wsdl:part name="parameters" element="tns:getIDCitas" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getIDCitas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIDCitasResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getIDExamenes_InputMessage">
    <wsdl:part name="parameters" element="tns:getIDExamenes" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getIDExamenes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIDExamenesResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getIDItems_InputMessage">
    <wsdl:part name="parameters" element="tns:getIDItems" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getIDItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIDItemsResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getExamenes_InputMessage">
    <wsdl:part name="parameters" element="tns:getExamenes" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getExamenes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getExamenesResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getExamen_InputMessage">
    <wsdl:part name="parameters" element="tns:getExamen" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getExamen_OutputMessage">
    <wsdl:part name="parameters" element="tns:getExamenResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getItem_InputMessage">
    <wsdl:part name="parameters" element="tns:getItem" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:getItemResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getCita_InputMessage">
    <wsdl:part name="parameters" element="tns:getCita" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getCita_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCitaResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getItems_InputMessage">
    <wsdl:part name="parameters" element="tns:getItems" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:getItemsResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getCitas_InputMessage">
    <wsdl:part name="parameters" element="tns:getCitas" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getCitas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCitasResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getPacientes_InputMessage">
    <wsdl:part name="parameters" element="tns:getPacientes" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getPacientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPacientesResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getMedicos_InputMessage">
    <wsdl:part name="parameters" element="tns:getMedicos" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getMedicos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMedicosResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getMedicosSolos_InputMessage">
    <wsdl:part name="parameters" element="tns:getMedicosSolos" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getMedicosSolos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMedicosSolosResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getCitasPorPeriodoMedico_InputMessage">
    <wsdl:part name="parameters" element="tns:getCitasPorPeriodoMedico" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getCitasPorPeriodoMedico_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCitasPorPeriodoMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getSedes_InputMessage">
    <wsdl:part name="parameters" element="tns:getSedes" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getSedes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSedesResponse" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getHorarios_InputMessage">
    <wsdl:part name="parameters" element="tns:getHorarios" />
  </wsdl:message>
  <wsdl:message name="wsCentroMedico_getHorarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHorariosResponse" />
  </wsdl:message>
  <wsdl:portType name="wsCentroMedico">
    <wsdl:operation name="actualizarExamen">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/actualizarExamen" message="tns:wsCentroMedico_actualizarExamen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/actualizarExamenResponse" message="tns:wsCentroMedico_actualizarExamen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarItem">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/actualizarItem" message="tns:wsCentroMedico_actualizarItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/actualizarItemResponse" message="tns:wsCentroMedico_actualizarItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarCita">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/eliminarCita" message="tns:wsCentroMedico_eliminarCita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/eliminarCitaResponse" message="tns:wsCentroMedico_eliminarCita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarExamen">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/eliminarExamen" message="tns:wsCentroMedico_eliminarExamen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/eliminarExamenResponse" message="tns:wsCentroMedico_eliminarExamen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarItem">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/eliminarItem" message="tns:wsCentroMedico_eliminarItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/eliminarItemResponse" message="tns:wsCentroMedico_eliminarItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarCita">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/registrarCita" message="tns:wsCentroMedico_registrarCita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/registrarCitaResponse" message="tns:wsCentroMedico_registrarCita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarExamenItems">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/registrarExamenItems" message="tns:wsCentroMedico_registrarExamenItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/registrarExamenItemsResponse" message="tns:wsCentroMedico_registrarExamenItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarItem">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/registrarItem" message="tns:wsCentroMedico_registrarItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/registrarItemResponse" message="tns:wsCentroMedico_registrarItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIDCitas">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/getIDCitas" message="tns:wsCentroMedico_getIDCitas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/getIDCitasResponse" message="tns:wsCentroMedico_getIDCitas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIDExamenes">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/getIDExamenes" message="tns:wsCentroMedico_getIDExamenes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/getIDExamenesResponse" message="tns:wsCentroMedico_getIDExamenes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIDItems">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/getIDItems" message="tns:wsCentroMedico_getIDItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/getIDItemsResponse" message="tns:wsCentroMedico_getIDItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getExamenes">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/getExamenes" message="tns:wsCentroMedico_getExamenes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/getExamenesResponse" message="tns:wsCentroMedico_getExamenes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getExamen">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/getExamen" message="tns:wsCentroMedico_getExamen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/getExamenResponse" message="tns:wsCentroMedico_getExamen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getItem">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/getItem" message="tns:wsCentroMedico_getItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/getItemResponse" message="tns:wsCentroMedico_getItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCita">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/getCita" message="tns:wsCentroMedico_getCita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/getCitaResponse" message="tns:wsCentroMedico_getCita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getItems">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/getItems" message="tns:wsCentroMedico_getItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/getItemsResponse" message="tns:wsCentroMedico_getItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCitas">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/getCitas" message="tns:wsCentroMedico_getCitas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/getCitasResponse" message="tns:wsCentroMedico_getCitas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPacientes">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/getPacientes" message="tns:wsCentroMedico_getPacientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/getPacientesResponse" message="tns:wsCentroMedico_getPacientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMedicos">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/getMedicos" message="tns:wsCentroMedico_getMedicos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/getMedicosResponse" message="tns:wsCentroMedico_getMedicos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMedicosSolos">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/getMedicosSolos" message="tns:wsCentroMedico_getMedicosSolos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/getMedicosSolosResponse" message="tns:wsCentroMedico_getMedicosSolos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCitasPorPeriodoMedico">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/getCitasPorPeriodoMedico" message="tns:wsCentroMedico_getCitasPorPeriodoMedico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/getCitasPorPeriodoMedicoResponse" message="tns:wsCentroMedico_getCitasPorPeriodoMedico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSedes">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/getSedes" message="tns:wsCentroMedico_getSedes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/getSedesResponse" message="tns:wsCentroMedico_getSedes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHorarios">
      <wsdl:input wsaw:Action="http://tempuri.org/wsCentroMedico/getHorarios" message="tns:wsCentroMedico_getHorarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/wsCentroMedico/getHorariosResponse" message="tns:wsCentroMedico_getHorarios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>